html, body {
    height: 100vh;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
    font-family: helvetica;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  td {
    height: 100px;
    width: 100px;
  }
  
  td div {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    pointer-events: none;
  }
  
  tr td:nth-child(2) {
    border-left: 6px dotted lightgreen;
    border-right: 6px dotted purple;
  }
  
  tr:nth-child(2) td {
    border-top: 6px dotted black;
    border-bottom: 6px dotted black;
  }
  
  button {
    margin-top: 30px;
    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }